Se realiza la importación de las librerías necesarias para la limpieza y  exploración de los datos colocándoles sus alias respectivos.

In [1]:
import pandas as pd
import numpy as np
from os import remove
import os
#import matplotlib.pyplot as plt
#import seaborn as sns
import glob

Se procede a la extración de los dataset a través de la librería de Pandas con la función Read_csv.

In [2]:
amazon_prime_titles=pd.read_csv(r"dataset\amazon_prime_titles.csv",sep=",")
disney_plus_titles=pd.read_csv(r"dataset\disney_plus_titles.csv",sep=",")
hulu_titles=pd.read_csv(r"dataset\hulu_titles.csv",sep=",")
netflix_titles=pd.read_csv(r"dataset\netflix_titles.csv",sep=",")
dfRatings=pd.concat(map(pd.read_csv,glob.glob("ratings\*.csv")))
dfRatings.rename(columns={ 'movieId' : 'id',"rating":"scored" },inplace=True)
dfRatings.to_csv("DataRatings.csv",index=False,sep=";",encoding="utf-8")
# glob.glob(r"C:\Users\CAC\Desktop\HENRY\DATA SCIENSE\1 CURSO DT08-GRUPO 03\PROYECTOS FINALES\PI DATA ENGINEER 13-03-2023\PI_ML_OPS-main\Dataset\MLOpsReviews\ratings\*.csv")#-->nos muestra la cantidad 
# de rutas que se logro cargar

Se pasa a verificar que todas las plataformas tengas las misma cantidad de columnas y/o similares para poder concatenarlas y reducir el trabajo de observación y limpieza.

In [3]:
print(f" Amazon {amazon_prime_titles.head(0)}")
print(f" disney {disney_plus_titles.head(0)}")
print(f" hulu {hulu_titles.head(0)}")
print(f" netflix {netflix_titles.head(0)}")

 Amazon Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []
 disney Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []
 hulu Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []
 netflix Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

Se realiza una visualización con los datos de los 8 dataset

In [4]:
dfRatings.head()

   userId  scored   timestamp      id
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

Realizamos la verificación a de la información de los 8 datasets

In [5]:
dfRatings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   scored     float64
 2   timestamp  int64
 3   id         object
dtypes: float64(1), int64(2), object(1)
memory usage: 420.5+ MB

Realizamos la verificación de la estadística de los 8 datasets

In [6]:
dfRatings.describe()

             userId        scored     timestamp
count  1.102429e+07  1.102429e+07  1.102429e+07
mean   8.997251e+04  3.533455e+00  1.172542e+09
std    8.686601e+04  1.059692e+00  2.056774e+08
min    1.000000e+00  5.000000e-01  7.896520e+08
25%    2.855800e+04  3.000000e+00  9.901593e+08
50%    5.684300e+04  3.500000e+00  1.153610e+09
75%    1.168670e+05  4.000000e+00  1.360470e+09
max    2.708960e+05  5.000000e+00  1.501827e+09

Corroboramos el tamaño del dataset

In [7]:
dfRatings.shape

(11024289, 4)

Se revisan los tipos de datos que posee cada uno de los datasets

In [8]:
amazon_prime_titles.info()#--- int columna 7 de 11 columnas
disney_plus_titles.info()#--- int columna 7 de 11 columnas
hulu_titles.info() #--- int columna 7 y float en la columna 4 de 11 columnas
netflix_titles.info()#--- int columna 7 de 11 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Se agrupa y se promedia los Rating por id de película volviéndolo un scored y se deja el mismo id con el que viene para poder diferenciar el dataset de las plataformas

In [9]:
agrupadosDfRatings=dfRatings[["id","scored","userId"]].groupby(by=['id']).mean()

Se copian cada dataset en un objeto, para realizar el análisis de cada uno por individual,con relación de los datos faltantes.

In [10]:
amazon_prime_title=amazon_prime_titles.copy()
disney_plus_title=disney_plus_titles.copy()
hulu_title=hulu_titles .copy() 
netflix_title=netflix_titles.copy()

Se le agrega al dataset de cada plataforma, una columna que identifique a la plataforma a la que pertenece, para cuando se concatenen los datesets, podamos distinguir de dónde provienen los datos, adicionalmente nos sirve como id de cada fila.

In [11]:
amazon_prime_title["show_id"]="a"+amazon_prime_title["show_id"]
disney_plus_title["show_id"]="d"+disney_plus_title["show_id"]
hulu_title["show_id"]="h"+hulu_title["show_id"]
netflix_title["show_id"]="n"+netflix_title["show_id"]

#se crea una columna con el nombre de las plataformas
amazon_prime_title["plataforma"]="amazon"
disney_plus_title["plataforma"]="disney"
hulu_title["plataforma"]="hulu"
netflix_title["plataforma"]="netflix"

Se saca un porcentaje de los valores faltantes con relación a los valores totales para poder dimencionar el trabajo que toca elaborase en caso de decidir arreglarlos por individual.

In [12]:
porceAma=amazon_prime_title.isnull().sum().sum()/amazon_prime_title.size
porceDis=disney_plus_title.isnull().sum().sum()/disney_plus_title.size
porceHul=hulu_title.isnull().sum().sum()/hulu_title.size
porceNet=netflix_title.isnull().sum().sum()/netflix_title.size
print(f"El % de nulos en amazon frente al total es : {porceAma}")
print(f"El % de nulos en disney frente al total es : {porceDis}")
print(f"El % de nulos en hulu frente al total es : {porceHul}")
print(f"El % de nulos en netflix frente al total es : {porceNet}")

El % de nulos en amazon frente al total es : 0.1763231596702842
El % de nulos en disney frente al total es : 0.04710875331564987
El % de nulos en hulu frente al total es : 0.21595033667926605
El % de nulos en netflix frente al total es : 0.03761867745062931

Realizó la prueba con todos los datasets concatenados con el fin de saber si puedo arreglarlo, unidos y evitar un desgaste extra.

Se procede a realizar concatenación de los datasets en forma de filas aprovechando que poseen las mismas estructora de información y posteriormente se genera una copia del Dataframe, para evitar modificar del original.

In [13]:
#amazonYdisney=pd.concat([amazon_prime_titles,disney_plus_titles],axis=0)
#huluYnetflix=pd.concat([hulu_titles,netflix_titles],axis=0)
#General=pd.concat([amazonYdisney,huluYnetflix],axis=0)
General = amazon_prime_title.append(disney_plus_title).append(hulu_title).append(netflix_title)

C:\Users\CAC\AppData\Local\Temp\ipykernel_2680\2246530649.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  General = amazon_prime_title.append(disney_plus_title).append(hulu_title).append(netflix_title)
C:\Users\CAC\AppData\Local\Temp\ipykernel_2680\2246530649.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  General = amazon_prime_title.append(disney_plus_title).append(hulu_title).append(netflix_title)

Realizó una copia del dataset para no afectar el original

In [15]:
dataGeneral=General.copy()
dataGeneral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon

Analizó la información del dataset, llamado datageneral dónde se encuentran ya unidos todos los datasets.

In [16]:
dataGeneral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  plataforma    22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

Renombramos la columna show_id por id

In [17]:
#dataGeneral.rename(columns={ 'show_id' : 'id' },inplace=True)
dataGeneral.rename(columns={ 'show_id' : 'id',"rating":"scored" },inplace=True)
dataGeneral.head(1)

,id,type,title,director,cast,country,date_added,release_year,scored,duration,listed_in,description,plataforma
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon

Extraemos los nombres de las columnas del Datageneral y que son categóricas.

In [18]:
dataGeneral.columns

Index(['id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'scored', 'duration', 'listed_in', 'description',
       'plataforma'],
      dtype='object')

In [19]:
combinacionDF=pd.merge(dataGeneral,agrupadosDfRatings, on="id",how="outer")
combinacionDF.head(2)

,id,type,title,director,cast,country,date_added,release_year,scored_x,duration,listed_in,description,plataforma,scored_y,userId
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon,3.467131,99178.623506
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,3.548682,93837.476673

Extraemos los nombres de las columna que vamos cambiar, para examinar los subniveles, mirar columnas con un único valor, etc.

In [20]:
col_categoricas=['id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'duration', 'listed_in', 'description',
       'plataforma']

In [21]:
combinacionDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   scored_x      22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  plataforma    22998 non-null  object
 13  scored_y      22998 non-null  float64
 14  userId        22998 non-null  float64
dtypes: float64(2), int64(1), object(12)
memory usage: 2.8+ MB

Realizamos un análisis para saber si le podemos sacar los subniveles a algunas columnas a través de Dummies con una lista de los nombres de las columnas categóricas, anteriormente extraídas.

In [22]:
listNivel=[]
nomCol=[]
for col in col_categoricas:
    listNivel.append(col)
    nomCol.append(combinacionDF[col].nunique())
#   #print(f"columna { col } : { dataHospital[col].nunique()}  subniveles")
subniveles=pd.DataFrame(list(zip(nomCol,listNivel)),columns=["Subniveles","Nombre"])
subniveles.sort_values("Subniveles",ascending=True)

    Subniveles       Nombre
1            2         type
10           4   plataforma
7          253     duration
5          886      country
8         1687    listed_in
6         2058   date_added
3        10106     director
4        16748         cast
2        22115        title
9        22670  description
0        22998           id

Se revisa los porcentajes de faltantes frente a los datos totales de todo el dataframe, columna por columna, además que muestre cuántos datos por columna faltan, esto ayuda a tener una mejor visión de los datos.

In [23]:
total=combinacionDF.isnull().sum().sort_values(ascending=False)
porcenNulos=((combinacionDF.isnull().sum()/combinacionDF.isnull().count()).sort_values(ascending=False))
#Datafaltantes=pd.concat([total,porcenNulos],axis=1,keys=["Total","Porcentaje"])
#print(Datafaltantes[Datafaltantes["Total"]>0],sep="\n")
print ("----------- Porcentaje de nulos en el dataset general ------------- ")
print (porcenNulos)
print ("----------- Total de nulos en el dataset general ------------- ")
print(total)

----------- Porcentaje de nulos en el dataset general -------------
country         0.500000
date_added      0.415427
director        0.359118
cast            0.231368
scored_x        0.037568
duration        0.020958
description     0.000174
id              0.000000
type            0.000000
title           0.000000
release_year    0.000000
listed_in       0.000000
plataforma      0.000000
scored_y        0.000000
userId          0.000000
dtype: float64
----------- Total de nulos en el dataset general -------------
country         11499
date_added       9554
director         8259
cast             5321
scored_x          864
duration          482
description         4
id                  0
type                0
title               0
release_year        0
listed_in           0
plataforma          0
scored_y            0
userId              0
dtype: int64

In [24]:
TotalDG=combinacionDF.size
TotalNulosDG=combinacionDF.isnull().sum().sum()
PorcenTotalNulosDG=combinacionDF.isnull().sum().sum()/combinacionDF.size
print(f" Total de datos {TotalDG} Total de datos nulos {TotalNulosDG}  porcentaje total   {PorcenTotalNulosDG}")

 Total de datos 344970 Total de datos nulos 35983  porcentaje total   0.1043076209525466

In [25]:
combinacionDF["title"].unique()

array(['The Grand Seduction', 'Take Care Good Night',
       'Secrets of Deception', ..., 'Zombieland', 'Zoom', 'Zubaan'],
      dtype=object)

Se procede a convertir todos los datos de las columnas categóricas a minúsculas en caso de que no lo estén, con el fin de mejorar las búsquedas y estandarizar los textos.

In [26]:
for col in combinacionDF:
    if col in col_categoricas:
       combinacionDF[col]=combinacionDF[col].str.lower()

Se procede a eliminar los espacios vacíos al inicio y al final de cada palabra de todo el dataframe, pero antes se realizar una prueba de testeo.

In [27]:
#--> Remplazar los espacios vacios con un caracter espacial para realizar la prueba 
combinacionDF=combinacionDF.replace(" ","@",regex=True)
combinacionDF.head(2)

,id,type,title,director,cast,country,date_added,release_year,scored_x,duration,listed_in,description,plataforma,scored_y,userId
0,as1,movie,the@grand@seduction,don@mckellar,"brendan@gleeson,@taylor@kitsch,@gordon@pinsent",canada,"march@30,@2021",2014,NaN,113@min,"comedy,@drama",a@small@fishing@village@must@procure@a@local@d...,amazon,3.467131,99178.623506
1,as2,movie,take@care@good@night,girish@joshi,"mahesh@manjrekar,@abhay@mahajan,@sachin@khedekar",india,"march@30,@2021",2018,13+,110@min,"drama,@international",a@metro@family@decides@to@fight@a@cyber@crimin...,amazon,3.548682,93837.476673

In [28]:
#--> Que alguna columna en su nombre contenga este carácter en cualquier lugar (@) 
#dataGeneral.filter(regex='[z]',axis=1)

In [29]:
#-->  quitan espacio vacío al inicio y final de cada strig en todo el df
#df=da.replace(" ","@",regex=True)--># Remplazar los espacios vacios
combinacionDF=combinacionDF.replace("@"," ",regex=True)#--> Remplazar las @ por espacios vacios para reaizar pruebas
combinacionDF=combinacionDF.applymap(lambda x:x.strip() if isinstance (x, str) else x)

Realizamos la coversión de una columna de tipo dato a tipo fecha por medio de la función de Pandas to_datetime

In [30]:

combinacionDF['date_added'] = pd.to_datetime(combinacionDF['date_added'])
combinacionDF.head(1)

,id,type,title,director,cast,country,date_added,release_year,scored_x,duration,listed_in,description,plataforma,scored_y,userId
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,NaN,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,3.467131,99178.623506

Generamos una copia del dataset para evitar modificar algún dato, extraemos la columna Duración y la dividimos en dos columnas con el fin mejorar el estándar y cumplir con el requerimiento para el proyecto, nombramos las columnas y una le cambiamos el tipo por entero, reeplazamos los valores erróneos por unos adecuados. Unimos el dataset original "dataGeneral" al que se le realiza las modificaciones "dataDuracion" columna por columna

In [31]:
dataDuracion=combinacionDF.copy()
dataDuracion = dataDuracion["duration"].str.split(" ", expand=True)
combinacionDF["duration_int"] =dataDuracion[0].astype(dtype="Int64")
combinacionDF["duration_type"] = dataDuracion[1].str.replace("seasons","temporadas",regex=False)
combinacionDF["duration_type"] =combinacionDF["duration_type"].str.replace("season","temporadas",regex=False)
combinacionDF = combinacionDF.fillna({ 'rating' : "G"})
combinacionDF["scored_y"] = round(combinacionDF["scored_y"].astype(dtype="float"),2)
combinacionDF["userId"] = combinacionDF["userId"].astype(dtype="int64")
combinacionDF.rename(columns={ 'scored_y' :"scored" },inplace=True)
combinacionDF.head(2)

,id,type,title,director,cast,country,date_added,release_year,scored_x,duration,listed_in,description,plataforma,scored,userId,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,NaN,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,3.47,99178,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,3.55,93837,110,min

Se realiza una copia del dataframe con el fin de salva guardar los cambios anteriormente realizados

In [32]:
NuevoDataDF=combinacionDF.copy()
NuevoDataDF.head(2)

,id,type,title,director,cast,country,date_added,release_year,scored_x,duration,listed_in,description,plataforma,scored,userId,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,NaN,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,3.47,99178,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,3.55,93837,110,min

Se realiza una filtro de la columna title. Que desde mi punto de vista, debería ser la más importante del dataset; con el fin de extraer los valores nulos de esa columna y poder revisar los datos de alrededor (osea de las otras columnas).

In [33]:
NuevoDataDF[NuevoDataDF["title"].isnull()].head(3)

Empty DataFrame
Columns: [id, type, title, director, cast, country, date_added, release_year, scored_x, duration, listed_in, description, plataforma, scored, userId, duration_int, duration_type]
Index: []

Se logra evidenciar que de las 12 columnas, solo 4 columnas tienen datos en usus filas y que no representan ningún valor, sino son acompañadas de las otras filas

In [34]:
#filtDGen=dataGeneral[dataGeneral.show_id.notnull() & dataGeneral.type.notnull() & dataGeneral.title.notnull() &
#                     dataGeneral.director.notnull() & dataGeneral.cast.notnull() & dataGeneral.country.notnull() &
#                     dataGeneral.release_year.notnull() & dataGeneral.duration.notnull() & dataGeneral.listed_in.notnull() &
#                     dataGeneral.description.notnull()]
#dataGeneral2=filtDGen.copy()
#filtDGen.head(1)

Se realiza la verificación de los valores únicos de la columna Title vs el total

In [35]:

#print("Cantida de unicos TITULOS ",  len(dataGeneral2["title"].unique()))
#print("Total de TITULOS ",  dataGeneral2["title"].count())
#print("Total nulos de TITULOS ",  dataGeneral2["title"].isnull().sum().sum())

print("Cantida de unicos TITULOS ",  len(NuevoDataDF["title"].unique()))
print("Total de TITULOS ",  NuevoDataDF["title"].count())
print("Total nulos de TITULOS ",  NuevoDataDF["title"].isnull().sum().sum())

Cantida de unicos TITULOS  22041
Total de TITULOS  22998
Total nulos de TITULOS  0

Se revisa los porcentajes de faltantes frente a los datos totales de todo el dataframe y columna por columna, además que nos muestra cuántos datos por columnas faltan.

In [36]:
totall=NuevoDataDF.isnull().sum().sort_values(ascending=False)
porcenNulo=((NuevoDataDF.isnull().sum()/NuevoDataDF.isnull().count()).sort_values(ascending=False))
#Datafaltantes=pd.concat([total,porcenNulos],axis=1,keys=["Total","Porcentaje"])
#print(Datafaltantes[Datafaltantes["Total"]>0],sep="\n")
print ("----------- Porcentaje de nulos en el dataset general ------------- ")
print (porcenNulo)
print ("----------- Total de nulos en el dataset general ------------- ")
print(totall)

----------- Porcentaje de nulos en el dataset general -------------
country          0.500000
date_added       0.415427
director         0.359118
cast             0.231368
scored_x         0.037568
duration         0.020958
duration_int     0.020958
duration_type    0.020958
description      0.000174
type             0.000000
release_year     0.000000
listed_in        0.000000
plataforma       0.000000
scored           0.000000
userId           0.000000
title            0.000000
id               0.000000
dtype: float64
----------- Total de nulos en el dataset general -------------
country          11499
date_added        9554
director          8259
cast              5321
scored_x           864
duration           482
duration_int       482
duration_type      482
description          4
type                 0
release_year         0
listed_in            0
plataforma           0
scored               0
userId               0
title                0
id                   0
dtype: int64

Nuevamente, realizamos un análisis de los subniveles con el fin de monitoriar los cambios.

In [37]:
listNivell=[]
nomColl=[]
for coll in col_categoricas:
    listNivell.append(coll)
    nomColl.append(NuevoDataDF[coll].nunique())
#   #print(f"columna { col } : { dataHospital[col].nunique()}  subniveles")
subniveless=pd.DataFrame(list(zip(nomColl,listNivell)),columns=["Nombre","Subniveles"])
subniveless.sort_values('Nombre')

    Nombre   Subniveles
1        2         type
10       4   plataforma
7      253     duration
5      886      country
8     1687    listed_in
6     2003   date_added
3    10094     director
4    16743         cast
2    22041        title
9    22669  description
0    22998           id

In [38]:
NuevoDataDF.columns

Index(['id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'scored_x', 'duration', 'listed_in', 'description',
       'plataforma', 'scored', 'userId', 'duration_int', 'duration_type'],
      dtype='object')

In [39]:
NuevoDataDF.head(1)

,id,type,title,director,cast,country,date_added,release_year,scored_x,duration,listed_in,description,plataforma,scored,userId,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,NaN,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,3.47,99178,113,min

Se generó una copia del dataframe, anterior con todas la columnas, excepto la columna llamada duration, ya que esta columna se le hizo un split y no es necesaria tenerla en el dataframe, no se eliminó del anterior, por si tuvieramos que volver a usarla.

In [40]:
NuevoDataDF=NuevoDataDF[['id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year','listed_in', 'description',
       'plataforma', 'scored', 'userId', 'duration_int', 'duration_type']].copy()

NuevoDataDF.shape

(22998, 15)

Se relializa una copia del dataframe ya revizado.

In [41]:
consul=NuevoDataDF.copy()
consul.head(2)

,id,type,title,director,cast,country,date_added,release_year,listed_in,description,plataforma,scored,userId,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,"comedy, drama",a small fishing village must procure a local d...,amazon,3.47,99178,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,"drama, international",a metro family decides to fight a cyber crimin...,amazon,3.55,93837,110,min

solo son pruebas

In [42]:
#consul[["release_year","plataforma","duration_int","duration_type"]][consul["release_year"]==anio].head(2)

In [43]:

#consul[['plataforma',"title","release_year","duration_int","duration_type"]][consul['plataforma'].str.contains(plataforma, case=False, na=True, regex=True)].head(2)

Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [44]:
consul.head(1)

,id,type,title,director,cast,country,date_added,release_year,listed_in,description,plataforma,scored,userId,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,"comedy, drama",a small fishing village must procure a local d...,amazon,3.47,99178,113,min

In [45]:
#primera consulta
consul1=consul[(consul['release_year']==2020) &
       (consul["plataforma"]=='amazon') &
       (consul["duration_type"]=='min') &
       (consul["type"]=="movie")].sort_values(by='duration_int', ascending=False).head(1)

consul1[["id","title","duration_int"]].style.hide(axis="index").format(precision=0)

Se realiza la verificación los valores minímos y máximos del dataframe

In [46]:
minimo=round(consul["scored"].max(),2)
maximo=round(consul["scored"].min(),2)
print(f"El valor minimo es : {minimo} y el valor maximo es: {maximo}")

El valor minimo es : 3.72 y el valor maximo es: 3.34

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [47]:
# corregir el score
a=consul["title"][(consul["type"]=='movie') &
                (consul["plataforma"]=="netflix") & 
                (consul["scored"]>1) & #----De 3.72 a 3.34
                (consul['release_year']==2014)].count()
a

264

Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [48]:
# a=consul["title"][(consul["type"]=='movie') &
#                 (consul["plataforma"]=="netflix")].count()

a=consul["title"][(consul["type"]=='movie') &
                (consul["plataforma"]=="netflix")].count()
a

6131

Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [49]:
a=consul[(consul["plataforma"]=='amazon') &
               (consul['release_year']==2020)]
a["cast"].value_counts().head(1)

anne-marie newland    7
Name: cast, dtype: int64

Se procede a cambiar las consultas, ya que la plataforma de api me arroja errores.

In [52]:
 # primera consulta: 
peliPlataforma= consul[consul['id'].str.contains("amazon"[0], case= False)]

    #Aplico filtro para el año y e tipo de duracion
año_duracion= peliPlataforma[(peliPlataforma.release_year == 2020) & (peliPlataforma.duration_type == "min")]
    #Accedo a las columnas y tomo el indice mayor de cada columna
idmax= año_duracion[['title','duration_int', 'duration_type']].loc[año_duracion.duration_int.idxmax()] 
    #El resultado lo paso a un formato de diccionario
MayorDuracion= idmax.T.to_dict()

{'title': 'night sky with nature sounds with 432hz nature sound track for sleep',
 'duration_int': 540,
 'duration_type': 'min'}

In [53]:
# Segunda consulta
año_dur = consul[(consul.plataforma == "amazon") & (consul.scored > 3.2) & (consul.release_year == 2020) & (consul.type == 'movie')]
    # Agrupar por plataforma y contar el número de filas resultantes
cantPeliPorPLataf = año_dur.groupby('plataforma').size()
cantPeliPorPLataf

plataforma
amazon    736
dtype: int64

In [54]:
# Trecera consulta
peli_plat= consul[consul['id'].str.contains("amazon"[0], case= False)]
    #luego hago un conteo del tamaño del filtro que hice
cant_pelis= len(peli_plat)
cant_pelis

9668

In [ ]:
# Cuarta pregunta
actorMax=consul[(consul["release_year"]==2020)&(consul["plataforma"]=="amazon")]["cast"]

Se genera una exportación del dataset "NuevoDataDF" un archivo.CVS, con el nombre de "DataPlataformas.csv", pero antes se verifica si el documento ya existe, si esiste se elimina y si no se crea nuevamente y sino existe sólo se crea.

In [60]:
if os.path.exists("DataPlataformas.csv"):
    remove("DataPlataformas.csv")
    NuevoDataDF.to_csv("DataPlataformas.csv",index=False,sep=";",encoding="utf-8")
  
else:
    NuevoDataDF.to_csv("DataPlataformas.csv",index=False,sep=";",encoding="utf-8")

Se verifica que haya quedado guardado de forma adecuada.

In [56]:
pruebaDeextracion=pd.read_csv("DataPlataformas.csv",sep=";")
pruebaDeextracion.head(2)

,id,type,title,director,cast,country,date_added,release_year,listed_in,description,plataforma,scored,userId,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,"comedy, drama",a small fishing village must procure a local d...,amazon,3.47,99178,113.0,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,"drama, international",a metro family decides to fight a cyber crimin...,amazon,3.55,93837,110.0,min